@charset "UTF-8";
.header{
	background-color: gray;
	padding: 5px 5px;
	display:flex;
}
.login{
	display: inline-block;
	color: white;
	padding: 10px;
}
.date{
	font-size: 11px;
	padding: 10px;
}
.pass{
	padding-top: 50px;
	padding-bottom: 50px;
}
.footer{
	padding: 5px 5px;
	background-color: gray;
}
.hoge{
	color: white;
	padding: 10px;
}